body
{
	margin:0;
	padding:0;
	font-size:14px;
	line-height:16px;
}
h3
{
	color:#09F;
	font-size:24px;
}
h4
{
	color:#55FF55;
}
.container
{
	width:940px;
	margin:0 auto;
}
input
{
	margin:5px;
}
input[type="text"]{
	border:1px solid #bbbbbb;
	line-height:18px;
}
.error
{
	color:#ff0000;
}
.message
{
	font-size:12px;
	display:block;
	line-height:10px;
}
